* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: #FFF;
  background-color: #000000;
}

a {
  color: #FFF;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

img {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

@media all and (max-width : 500px) {
  
  body {
    margin-bottom: 76px;
  }

  * {
    cursor: default;
  }

}